@import "../../../scss/variables";

.icon {
  display: inline-block;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;

  &.back {
    background-image: url("/assets/images/icons/back.svg");
    width: 12px;
    height: 12px;
  }

  &.light {
    filter: brightness(0) invert(1);
  }
}