@import "../../../scss/variables";

.footer {
  width: 100%;
  height: 100%;
  padding-top: $gap-default;
  padding-bottom: $gap-default;

  text-align: center;

  background-color: $color-primary-dark;
  color: $color-light;
}