@import "../../../scss/variables";

.button {
  padding: 10px 8px;
  border: none;
  border-radius: 3px;

  font-size: $font-size-default;

  background-color: transparent;
  color: $color-light;
  outline: none;
}