$color-light: #fff;
$color-dark: #000;

$color-primary: #4b64ec;
$color-primary-dark: #1a214e;
$color-secondary: #db7093;

$color-grey: #e2e2e2;
$color-grey-easy: #f5f5f5;
$color-grey-dark: #585d75;

$border-radius-default: 4px;
$border-radius-large: 8px;

$font-size-default: 16px;

$gap-default: 8px;
$gap-medium: 16px;